<head>
    <link rel="stylesheet" href="/src/css/show-album.css">
    <title>{{headTitle}}</title>
</head>
<body>
    <div id="upload">
        <h1>{{albumTitle}}</h1>
        <form enctype="multipart/form-data" method="post" action="">
            <p>Upload your photos to the server</p>
            <p><input type="file" name="photo" multiple accept="image/*,image/jpeg">
                <input type="submit" value="Upload" class="button"></p>
            <p>{{error}}</p>
        </form>
    </div>
    <div id="photos">
        <ul id="photoList">
            {{#each photos}}
                <li><a href="/photo-{{this}}"><img src="/uploads/{{this}}" alt="photo" width="220" height="220"></a> </li>
            {{/each}}
        </ul>
    </div>
</body>